body{
	font-family: Arial;
}

a{
	text-decoration: none;
	color: black;
}

ul{
	list-style: none;
}

.main{
	width: 85%;
	height: 68px;
	margin: 0 auto;
}


.header{
	float: left;
	width: 100%;
	line-height: 50px;
}

.logo{
	float: left;
}

.searchbar{
	float: right;
}

.bar{
	width: 350px;
}

.buttons{
	background-color: : #f3f3f3;
}